<div class="container">
  <h1>Welcome to Twitter Update!</h1>

  <form id="update-tweet" action="/tweet/update" method="post">
  <input id="update-text" type="text" name="update" value="Update tweet!">
  <input id="update-submit" type="submit" value="post it!">
  </form>
  <div id="status"></div>
</div>
